* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.wrapper_container {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  padding: 0 15px;
}

.btn{
  display: grid;
  place-items: center;
}

.btnCompleted {
  background: #07e2bb;
}

.btnCompleted:hover {
  box-shadow: 5px 5px 10px rgba(7, 226, 187, .5);
}

.btnTrash {
  background: #ff5a75;
}

.btnTrash:hover {
  box-shadow: 5px 5px 10px rgba(255,86,113,.5);
}

.completed {
  opacity: .6;
  text-decoration-line: line-through;
}

.grayscale {
  filter: grayscale(1);
}

.icon {
  width: 27px;
  height: 27px;
}